.actionButtons {
    padding: 0px;
    margin: 0px;
    height: auto;
    vertical-align: middle;
    text-align: center
}
.legendaryContent {
    white-space: pre-wrap;
    font-weight:bold;
}
.icon-shape {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.bck-Color {
    background: linear-gradient(to bottom, #fcbf73 41%, #fee1b3 52%);
}