page-editprofile {

    .boxes {
        border: 1px solid #404a54;
        box-shadow:1px 1px 1px 1px;
    }
    ion-icon {
        &[class*="custom-"] {
          mask-size: contain;
          mask-position: 50% 50%;
          mask-repeat: no-repeat;
          background: #404a54;
          width: 0.5em;
          height: 0.5em;

        }
        &[class*="custom-key-tool"] {
          mask-image: url(../assets/imgs/key-tool.svg);
        }
        &[class*="custom-user-silhouette"] {
            mask-image: url(../assets/imgs/user-silhouette.svg);
        }
      }
    .img-circle-center {
        width:150px;
        height: 150px;
        box-shadow: 0px 0px 6px 0px #444;
        border-radius: 100%
    }
    .input-bottom-line{
        border-bottom: 1px solid #555;
    }

}
