page-leaveform {
    .col-class {
        text-align: center;
    }
    .bckColor {
        background: linear-gradient(#f37b41 41%, #fff 52%);
    }
    .headergridClass {
        background: linear-gradient(to right, #fcbf73 0%, #fee1b3 100%);
        box-shadow: 0px 0px 0px 1px #404a54;
        color:#000000
    }
    .balLeaveCSS {
        .text-input-ios{
        text-align: center
        }
    }
}
